// Define variables for your color scheme

// For example:
$red: #d11149;
$blue: #009DDC;
$yellow: #edf060;
$orange: #F26430;
$green: #009B72;
$gray: #0E0000;
$black: #2A2D34;
$purple: #6761A8;
$light-gray: #F4F4F4;

body {
  background: black!important;
}
