
<div class="img-homepage-banner"></div>
<div class="homepage-banner">
  <div class="homepage-banner-presentation">
    <div class="homepage-banner-presentation-text">
      <h1 class="homepage-title">PLACEHOLDER TITLE</h1>
      <p class="homepage-text">PLACEHOLDER DESCRIPTION</p>
    </div>
  </div>
  <div class="homepage-banner-account-box">
    <div class="img-account-box-container">
      <%= image_tag "video-camera.png", class:"img-account-box"%>
    </div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum in doloremque et maiores rem quam, magni odit eveniet minima enim soluta nisi porro quos, ullam odio iure esse fugiat numquam.</p>
    <div class="homepage-login-signup">
    <%# ADD A SIGNUP SHEET DIRECTLY HERE %>
      <%= link_to "JOIN US NOW", books_path, class: "btn button-primary banner-button" %>
    </div>
  </div>
  <%# <h1>JOIN THE COMMUNITY</h1>
  <div class="producer-editor">
    <div class="engagement editor-engagement">
      <h1>DISPLAY YOUR RIGHTS</h1>
      <div class="button-primary banner-button">JOIN US NOW</div>
    </div>
    <h1>OR</h1>
    <div class="engagement producer-engagement">
      <h1>BROWSE THE WORKS</h1>
      <div class="button-primary banner-button">JOIN US NOW</div>
    </div>
  </div> %>
</div>
<div class="container tutorial-container">
  <div class="tutorial-title">
    <h1>What we offer for you</h1>
  </div>
  <ul class="nav nav-tabs pt-4" id="myTab" role="tablist">
  <li class="nav-item scroll-on-click" role="tab" id="editors-tab" data-bs-toggle="tab" data-bs-target="#editors">
    <%= image_tag("book-editors.png", class: "nav-link-photo") %>
    <button class="nav-link" id="editors-tab" data-bs-toggle="tab" data-bs-target="#editors" type="button" role="tab" aria-controls="editors" aria-selected="true">I own rights to books</button>
  </li>
  <li class="nav-item scroll-on-click" role="tab" id="producers-tab" data-bs-toggle="tab" data-bs-target="#producers">
    <%= image_tag("camera-producers.png", class: "nav-link-photo") %>
    <button class="nav-link" id="producers-tab" data-bs-toggle="tab" data-bs-target="#producers" type="button" role="tab" aria-controls="producers" aria-selected="false">I want to adapt an existing book</button>
  </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show" id="editors" role="tabpanel" aria-labelledby="editors-tab">
        <h1 class="my-4 mb-10 px-2">Editors Tab</h1>
    </div>
  </div>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show" id="producers" role="tabpanel" aria-labelledby="producers-tab">
        <h1 class="my-4 mb-10 px-2">Producers Tab</h1>
    </div>
  </div>
  <%# <div class="producer-editor-separator">
    <div class="homepage-tutorial editor-tutorial">
      <div class="tutorial-title">
        <h2>You own the rights of books</h2>
      </div>
    </div>
    <div class="homepage-tutorial producer-tutorial">
      <div class="tutorial-title">
        <h2>You want to adapt an existing book</h2>
      </div>
    </div>
  </div> %>
</div>
