<div class="homepage-banner">
  <div class="producer-editor">
    <div class="engagement editor-engagement">
      <h1>SHARE YOUR RIGHTS</h1>
      <div class="button-primary banner-button">JOIN US NOW</div>
    </div>
    <div class="engagement producer-engagement">
      <h1>DISCOVER THE RIGHTS</h1>
      <div class="button-primary banner-button">JOIN US NOW</div>
    </div>
  </div>
</div>
