<%= image_tag "movie-set.jpg", class:"img-homepage-banner"%>
<div class="homepage-banner">
  <div class="homepage-banner-presentation">
    <div class="homepage-banner-presentation-text">
      <h1 class= "homepage-title">PLACEHOLDER TITLE</h1>
      <h2>PLACEHOLDER DESCRIPTION</h2>
    </div>
    <div class="homepage-banner-presentation-partners">
        <%= image_tag "example-logo.jpg", class:"homepage-partners-logo"%>
    </div>
  </div>
  <div class="homepage-banner-account-box">
    <h2>PLACEHOLDER KILLER TEXT</h2>
    <div class="button-primary banner-button">JOIN US NOW</div>
  </div>
  <%# <h1>JOIN THE COMMUNITY</h1>
  <div class="producer-editor">
    <div class="engagement editor-engagement">
      <h1>DISPLAY YOUR RIGHTS</h1>
      <div class="button-primary banner-button">JOIN US NOW</div>
    </div>
    <h1>OR</h1>
    <div class="engagement producer-engagement">
      <h1>BROWSE THE WORKS</h1>
      <div class="button-primary banner-button">JOIN US NOW</div>
    </div>
  </div> %>
</div>
