<div class="books-index-container">
  <div class="container">
    <ul>
      <% @books.each do |book| %>
        <%= link_to book_path(book) do %>
          <li><%= book.title %> <%= book.approved %> <%= book.views_count.size %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
