<div class="books-index-container">
  <div class="books-index-divider">
  </div>
  <div class="container">
    <div class="books-index-title">
      <h1>Welcome to our Database, have a stroll around</h1>
    </div>
    <ul>
      <% @books.each do |book| %>
        <%= link_to book_path(book) do %>
          <li><%= book.title %> <%= book.approved %> <%= book.views_count.size %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
