.button-primary {
  padding: 10px 20px;
  width: fit-content;
  border-radius: 10px;
  border: solid 1px;
}

.banner-button {
  color: $purple;
  background-color: rgba($color: $purple, $alpha: 0.3);
  margin: auto;
  margin-top: 20px;
  width: 80% !important;
  &:hover {
    background-color: rgba($color: $purple, $alpha: 1);
    color: $light-gray;
    border-color: $purple;
  }
}

.btn-placer {
  width: 100%;
  text-align: center;
  a {
    width: 100%;
    justify-content: center;
    display: flex;
  }
  p {
    margin: 5px;
  }
}

.navbar-button {
  padding: 10px;
  border: solid 1px white;
  border-radius: 10px;
  &:hover {
    color: black;
    background-color: $light-gray;
  }
}

.homepage-button {
  margin: auto;
  margin-top: 100px;
  width: 80% !important;
  background-color: transparent;
  &:hover {
    color: $light-gray!important;
  }
}

.browse-button {
  color: $orange;
  &:hover{
    background-color: $orange;
  }
}

.upload-button {
  color: $blue;
  &:hover{
    background-color: $blue;
  }
}

.btn-search {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  color: $light-gray;
}

.form-actions {
  display: flex;
  place-content: center;
}

.homepage-login-btn {
  color: rgba($color: #000000, $alpha: 0.5);
  &:hover {
    color: rgba($color: #000000, $alpha: 1);
  }
}

.form-btn-validate {
  border: solid 1px white;
  border-radius: 10px;
  color: $light-gray;
  margin-bottom: 20px;
  padding: 15px;
  &:hover {
    color: black!important;
    background-color: $light-gray;
  }
}

.editor-btn {
  border: solid 1px $blue;
  color: $blue;
  &:hover {
    color: $white!important;
    background-color: $blue;
  }
}
