.homepage-banner {
  width: 100%;
  margin: auto;
  height: 100vh;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding: 50px 100px;
}

.img-homepage-banner {
  z-index: -1;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba($color: #000000, $alpha: 0.1);
  background-image: linear-gradient(rgba($color: #000000, $alpha: 0.1), rgba($color: #000000, $alpha: 0.1)), url("https://images.ctfassets.net/3s5io6mnxfqz/3r00qKDT3JVkuM1mJ9aX46/cb66bac6bfaf061947c089a45fab9043/AdobeStock_268786942.jpeg");
  background-size: cover;
  background-position: center;
  filter: blur(1.5px);
}

.homepage-banner-presentation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 80%;
  width: 50%;
  margin: auto;
}

.homepage-banner-presentation-text {
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70%;
}

.homepage-title {
  margin-bottom: 30px;
}
.homepage-banner-partners {
  display: flex;
  justify-self: flex-end;
  justify-content: space-evenly;
}


.homepage-partners-logo {
  height: 60px;
  border-radius: 50%;
}

.banner-button {
  color: $red;
  background-color: rgba($color: $red, $alpha: 0.3);
}

.banner-button:hover {
  background-color: rgba($color: $red, $alpha: 1);
  color: white;
  border-color: $red;
}
