.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  transition: background-color 1.5s;
  img {
    width: 40px;
  }
}
.navbar-transparent {
  background: transparent;
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.login-btn {
  color: white;
}

// For non-homepage-navbar
.dropdown-categories {
  color: inherit;
  background-color: transparent;
  border: none;
  &:hover {
    background-color: transparent;
    border: none;
  }
}
.dropdown {
  list-style: none;
}
.navbar-end-items {
  display: flex;
  justify-content: space-evenly;
}

.navbar-scrolled {
  background-color: black;
  color: white;
  box-shadow: 0px 1px 0px 0px rgba($color: white, $alpha: 0.2);
}
